*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif ;
}
body{
   height: 100vh; 
   background-color: #ed691d;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: rgb(240, 116, 14);
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
   width: 100%; 
   height: 60px;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color:#fff ;
    font-style: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding-inline: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    height: 23px;
    display: flex;
    align-items: center;
}

.action_btn:hover{
    scale:1.05;
    color: #ffff;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown_menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 150px;
    background-color: rgb(211, 125, 5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 250px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn:hover{
    background-color: rgba(244, 135, 3, 0.375);
}

.dropdown_menu .action_btn{
    width: 100%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive designe */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

.div1{
    background-image: url(WhatsApp\ Image\ 2025-01-23\ à\ 17.43.23_68ef59d6.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    background-size: cover;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    /* background-color: #f90303; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 15rem;
}
.h1{
    /* background-color: aqua; */
    color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    font-size: 1.rem;
    width: 20rem;
}
.p1{
    color: rgb(217, 255, 0);
    width: 16rem;
    /* background-color: rgb(10, 127, 199); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    font-size: 1.2rem;
    margin-top: 45px;
}
.button{

    background-color: orange;
    color: #fff;
    padding-inline: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    height: 23px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}